/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px;
}

html, body, material-app, mat-sidenav-container {
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  margin-top: -64px
}
